{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mail page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    {% load static %}
</head>
<body background="{% static 'images/Kbackground.jpg' %}">

    <nav class="navbar navbar-expand-md navbar-blue bg-dark mb-4">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'emails:email.students' %}">دانشجویان</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'emails:email.teachers' %}">اساتید</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'emails:email.employees' %}">کارمندان</a>
        </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">پرتال در خواست ایمیل</button>
        </form>
    </div>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>پرتال درخواست ایمیل</h1>
            <p class="lead">
                {% block content %}
                {% endblock content %}

            </p>
        </div>
    </main>

</body>
</html>
{% endspaceless %}
